* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 18vw;
    position: relative;
}

.right {
    width: 82vw;
    position:relative;


}

.home ul {
    list-style: none;

}

.search input {
    background-color: transparent;
    border: none;
    height: 20px;
}

.nav {
    padding: 17px 10px 7px 10px;
}

.search {
    margin-left: 250px;
}

.log {
    padding: 12px 22px;
    background-color: white;
    font-weight: 900;
    font-family: sans-serif;
    border-radius: 30px;
}

.footer div a {
    color: white;
    text-decoration: none;
}

.parent-cookies {
    position: absolute;
    bottom: 0px;
}

.cokie a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    margin: 15px;
}

.language {
    margin: 19px;
}

.language button {
    background-color: transparent;
    display: flex;
    gap: 8px;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    padding: 8px 10px;
    border: 1px solid white;

}


.heading {
    margin:12px ;
}

.trending-songs h4 {
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 10px;
}

.trending-songs {
    padding: 30px;
}

.play-bar {
    position: absolute;
    bottom: 0px;
    width: 96%;
    /* background-color:#1ED760; */
    padding: 12px;
    margin: 9px;
}

.play-buttons {
    display: flex;
    gap: 10px;
}
.previous , .play ,.next {
    height: 20px;
    width: 20px;
    /* background-color: #946a6a; */
    padding: 10px;
    margin: 1px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.songSearch {
    color: white;
}

.songInfo{
    height: 10px;
    width: 60vw;
    background-color: antiquewhite;
}