* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 20vw;
    position: relative;
}

.right {
    width: 80vw;
}

.home ul {
    list-style: none;

}

.search input {
    background-color: transparent;
    border: none;
    height: 20px;
}

.nav {
    padding: 17px;
}

.search {
    margin-left: 250px;
}

.log {
    padding: 12px 22px;
    background-color: white;
    font-weight: 900;
    font-family: sans-serif;
    border-radius: 30px;
}

.footer div a {
    color: white;
    text-decoration: none;
}

.parent-cookies {
    position: absolute;
    bottom: 0px;
}

.cokie a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    margin: 15px;
}

.language {
    margin: 19px;
}

.language button {
    background-color: transparent;
    display: flex;
    gap: 8px;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    padding: 8px 10px;
    border:1px solid white;

}

h4{
    margin: 18px;
}