*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.left{
    width: 20vw;
}
.right{
    width: 80vw;
}

.home ul {
    list-style: none;

}

.search input {
    background-color: transparent;
    border: none;
    height: 20px;
}

.nav {
    padding: 17px;
}

.search{
    margin-left: 250px;
}

.log{
    padding: 12px 22px;
    background-color: white;
    font-weight: 900;
    font-family: sans-serif;
    border-radius: 30px;
}
